%p
  Welcome to the Legit Image Grabber, a LegitIOT Product. 
  You can use the 
  %a{href: "/grab"}image grabber form
  to grab images, and
  then view them on this site.

%p
  Grabbed images will be available for a period of time before they are
  archived, at which point you will need to grab them again. Additionally,
  it will be necessary to re-grab the images if you lose track of the
  URL - so don't!

%p
  Please do not hack this site. Here at LegitIOT, we value security above all
  else, and it is very important to us that nobody does any hacking.
