!!!
%html
  %head
    %title Legit Image Grabber
    %link{rel: 'stylesheet', type: 'text/css', href: '/grabber.css'}
  %body
    #wrapper
      #header
        %h1 Legit Image Grabber by LegitIOT
        %h2 In case you ever wanted to grab images!

      #content
        =yield

      #footer
        %p
          %a{href: '/'} Home
          |
          %a{href: '/grab'} Grabber
        %p
          Copyright (c) LOLOLOL
